.streamer-main {
  &__profile-button {
    background: none;
    border: 0;
    cursor: pointer;
  }

  &__icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 16px;
  }

  &__text {
    margin-bottom: 0;
  }
}
